<%= link_to "<< Back to Main page ", items_path %>
<h3><%= @item.name %></h3>
<br />
<p><span>Quantity : </span><%= @item.quantity %></p>
<p><span>Price : </span><%= @item.price %></p>
<p><span>Description : </span><%= @item.description %></p>

<%= link_to "<< Back to Main page ", items_path %>
