<%= link_to "Dinner Dash ", items_path %>

<h3><%= @item.name %></h3>
<br />
<p>
  <% if @item.image.exists? %>
      <%= image_tag @item.image.url(:medium) %><br/>
  <% end %>
</p>

<p><span>Price : </span><%= @item.price %></p>
<p><span>Quantity : </span><%= @item.quantity %></p>
<p><span>Description : </span><%= @item.description %></p>

<% if logged_in? && current_user.admin? %>
  <p>
    <%= link_to "Edit Product information", edit_item_path, class: "new_item" %> &nbsp;
    <%= link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure you want to delete this item?"}%>
  </p>
<% end %>
<br />
<%= link_to "<< Back to Dinner Dash ", items_path %>
