<h1>Edit a Category</h1>

<%= @category.name %>

<%= form_for(@category, method: "put") do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>