<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dinner Dash" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dinner Dash" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>      
      <p class="flash">
        <%= flash.notice %>
      </p>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
       <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
          <% else %>
              Logged out
          <% end %>
        </h6>
    </main>
  </body>
</html>
